<div class="login-container">
    <h2 class="login-title">Login</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" required [(ngModel)]="email" name="email" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" type="password" required [(ngModel)]="password" name="password" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="login-button">Login</button>
    </form>
</div>
