<div class="register-container">
    <h2 class="register-title">Register</h2>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="register-form">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name" required [(ngModel)]="name" name="name" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" required [(ngModel)]="email" name="email" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" type="password" required [(ngModel)]="password" name="password" />
        </mat-form-field>
        <mat-checkbox [(ngModel)]="isAdmin" name="isAdmin">Admin Access</mat-checkbox>
        <button mat-raised-button color="primary" type="submit" class="register-button">Register</button>
    </form>
</div>
