<div class="app-container">
  <header class="app-header">
      <h1 style="color:#fff ;font-weight: 600;">Smart Home Automation</h1>
      <nav class="app-nav">
          <ng-container *ngIf="!isUserAuthenticated; else loggedInNav">
              <a routerLink="/login" class="nav-link">Login</a>
              <a routerLink="/register" class="nav-link">Register</a>
          </ng-container>
          <ng-template #loggedInNav>
              <a routerLink="/dashboard" class="nav-link">Dashboard</a>
              <a (click)="logout()" class="nav-link">Logout</a>
          </ng-template>
      </nav>
  </header>

  <main class="app-main">
      <router-outlet></router-outlet>
  </main>

</div>
