<h2 class="devices-header">Devices</h2>
<div class="device-container">
    <div *ngFor="let device of devices" class="device-card">
        <h4 class="device-name">{{ device.name }}</h4>
        <mat-slide-toggle 
            [(ngModel)]="device.status" 
            (change)="updateDevice(device)"
            class="status-toggle"
        >
            {{ device.status ? 'On' : 'Off' }}
        </mat-slide-toggle>
        
        <p class="device-schedule">
            <strong>Scheduled Start Time:</strong> {{ device.startTime | timeFormat }}
        </p>
        <p class="device-schedule">
            <strong>Scheduled End Time:</strong> {{ device.endTime | timeFormat }}
        </p>
        
        <button mat-icon-button color="warn" class="delete-button" (click)="deleteDevice(device.deviceId)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<h3 class="add-device-header">Add New Device</h3>
<div class="add-device-form">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Device Name</mat-label>
        <input matInput placeholder="Enter device name" [(ngModel)]="newDevice.name" />
    </mat-form-field>

    <div class="time-input-container">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Start Time</mat-label>
            <input matInput [(ngModel)]="newDevice.startTime" type="time" />
        </mat-form-field>
    </div>

    <div class="time-input-container">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>End Time</mat-label>
            <input matInput [(ngModel)]="newDevice.endTime" type="time" />
        </mat-form-field>
    </div>

    <!-- Add Status Toggle for New Device -->
    <mat-slide-toggle 
        [(ngModel)]="newDevice.status" 
        class="status-toggle"
    >
        {{ newDevice.status ? 'On' : 'Off' }}
    </mat-slide-toggle>


    <mat-slide-toggle 
    [(ngModel)]="newDevice.isActive" 
    class="status-toggle"
>
    {{ newDevice.isActive ? 'On' : 'Off' }}
</mat-slide-toggle>

    <button mat-raised-button color="primary" class="add-device-button" (click)="addDevice()">
        Add Device
    </button>
</div>
