<h2 mat-dialog-title>Edit Device</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="editedDevice.name" placeholder="Enter device name" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Start Time</mat-label>
        <input matInput [(ngModel)]="editedDevice.startTime" type="time" placeholder="HH:MM" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>End Time</mat-label>
        <input matInput [(ngModel)]="editedDevice.endTime" type="time" placeholder="HH:MM" required>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="editedDevice.status">
        {{ editedDevice.status ? 'On' : 'Off' }}
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="editedDevice.isActive">
        {{ editedDevice.isActive ? 'On' : 'Off' }}
    </mat-slide-toggle>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onEditDevice()" 
            [disabled]="!editedDevice.name || !editedDevice.startTime || !editedDevice.endTime">
        Save Changes
    </button>
</mat-dialog-actions>
